<div class="principal">
  <h1 class="firstText">Offerings</h1>
  <h1 class="secondText">Diseño y Transformación</h1>
  <h1 class="thirdText">UX UI</h1>
  <p class="fourthText">El área se encarga de desarrollar productos y servicios con enfoque centrado en el usuario,
    combinando sus intereses y necesidades con las del negocio y las posibilidades de desarrollo tecnológico. El proceso
    se basa en herramientas de agilismo y creatividad.
  </p>
</div>
<div class="content-first">
  <div class="row">
    <div class="col">
      <div class="cont-1">
        <h1 class="title">UX Product Strategy</h1>
        <p class="text">Partiendo de procesos de investigación y análisis desarrollamos estrategias para la creación y
          proyección escalable de productos y servicios digitales. Obteniendo un equilibrio entre
          mercado-usuarios-empresa
          y empatizando con las necesidades y contexto entre ellos, buscamos sentar las bases para concebir un nuevo
          producto, servicio o feature adaptativo e intuitivo.</p>
      </div>
    </div>
    <div class="col">
      <div class="first"></div>
    </div>
  </div>
</div>
<div class="content-second">
  <div class="row">
    <div class="col-6">
      <div class="second"></div>
    </div>
    <div class="col-6">
      <div class="cont-2">
        <h1 class="second-title">UX Content</h1>
        <p class="second-text">Pensando en la comunicación, se realizan evaluaciones relacionadas al contenido y tono
          con
          el que el producto se dirige al usuario, buscando formas claras, concisas y acordes a la comunicación de la
          empresa que permitan al usuario comprender fácilmente el producto y sus funciones.</p>
      </div>
    </div>
  </div>
</div>
<div class="content-third">
  <div class="row">
    <div class="col-6">
      <div class="cont-3">
        <h1 class="third-title">UI Design</h1>
        <p class="third-text">Partiendo de estudios y análisis realizados en instancias anteriores y/o proporcionados
          por el cliente, nos enfocamos en desarrollar interfaces que respondan a las necesidades y expectativas de
          nuestros usuarios. Mediante procesos iterativos, pruebas con usuarios y validación constante, realizaremos
          prototipos en baja y alta fidelidad para evaluar los puntos de dolor y cambios de navegación y look and feel.
          Es una instancia previa al trabajo de los desarrolladores que permitirá prever conflictos de forma rápida y a
          bajo costo.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="third"></div>
    </div>
  </div>
</div>
<!-- <div class="carousel "> -->
<ngb-carousel *ngIf="true" class="carousel">
  <ng-template ngbSlide>
    <ul class="listCarousel">
      <li>Dive</li>
      <li>Deep Dive</li>
      <li>UX Research</li>
      <li>Benchmarking y Estudios de mercado</li>
      <li>UX Assesments</li>
    </ul>
  </ng-template>
  <ng-template ngbSlide>
    <ul class="listCarousel">
      <li>Business Consulting</li>
      <li>Design Thinking</li>
      <li>UX Lean Design</li>
      <li>Matrices de Necesidades</li>
      <li>UX Writing</li>
    </ul>
  </ng-template>
  <ng-template ngbSlide>
    <ul class="listCarousel">
      <li>Prototipado LoFi y HiFi</li>
      <li>Pruebas de usuarios</li>
      <li>Métricas</li>
      <li>Design System del Producto</li>
    </ul>
  </ng-template>
</ngb-carousel>
<!-- </div> -->
<div class="video-content">
  <iframe class="video" src="https://www.youtube.com/embed/l1KBIwKrCjA" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>

<div class="content-fourth">
  <div class="row">
    <div class="col">
      <h1 class="fourth-title">Conocé más sobre nuestros proyectos
      </h1>
      <div class="btn-cont">
        <button class="btn">Ir a Behance -></button>
      </div>
    </div>
    <div class="col">
      <div class="fourth"></div>
    </div>
  </div>
</div>
<div class="content-fifth">
  <div class="row">
    <div class="col">
      <div class="logo"></div>
      <div class="logo-ayi"></div>
    </div>
    <div class="col">
      <p>Secciones</p>
      <ul>
        <li><a>Inicio</a></li>
        <li><a>Empresa</a></li>
        <li><a>Quiero ser parte</a></li>
        <li><a>Ofering</a></li>
        <li><a>Contacto</a></li>
      </ul>
    </div>
    <div class="col">
      <div class="info-cont">
        <p>Contacto</p>
        <ul>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope"
              viewBox="0 0 16 16">
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
            </svg>
            hi@ayi.group
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi bi-telephone-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
            </svg>
            (54-351) 4711900 / 4711555 / 4712200
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            </svg>
            Antonio del Viso 658 – Bº Alta Córdoba. Cba., Argentina
          </li>
        </ul>
      </div>
    </div>
    <p>Seguinos</p>
    <a class="primer-icon"></a>
    <a class="segundo-icon"></a>
    <a class="tercer-icon"></a>
    <a class="cuarto-icon"></a>
    <a class="quinto-icon"></a>
    <a class="sexto-icon"></a>
  </div>
</div>